@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "Wittgenstein";
  src: url("./assets/fonts/Wittgenstein-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "Archivo";
  src: url("./assets/fonts/Archivo-VariableFont_wdth,wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "Roboto Slab";
  src: url("./assets/fonts/RobotoSlab-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Garamond";
  src: url("./assets/fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
}

// ITALICS
